<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GOOD COFFEE</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/simple-sidebar.css" rel="stylesheet">

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>

</head>

<body>

<div id="wrapper">

    <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay"></div>

    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-left" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover"
             style="background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
            <!-- Top bar -->
            <div class="top-bar"></div>
            <!-- Sidebar toggle button -->
            <button type="button" class="sidebar-toggle">
                <i class="icon-material-sidebar-arrow"></i>
            </button>
            <!-- Sidebar brand image -->
            <div class="sidebar-image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
            </div>
            <!-- Sidebar brand name -->
            <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
                john.doe@gmail.com
                <b class="caret"></b>
            </a>
        </div>

        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li class="dropdown">
                <ul id="settings-dropdown" class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Help
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Exit
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="sidebar-icon md-inbox"></i>
                    Inbox
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="sidebar-icon md-star"></i>
                    Starred
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="sidebar-icon md-send"></i>
                    Sent Mail
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="sidebar-icon md-drafts"></i>
                    Drafts
                </a>
            </li>
            <li class="divider"></li>
            <li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                    All Mail
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            Social
                            <span class="sidebar-badge">12</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Promo
                            <span class="sidebar-badge">0</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Trash
                    <span class="sidebar-badge">3</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Spam
                    <span class="sidebar-badge">456</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Follow Up
                    <span class="sidebar-badge badge-circle">i</span>
                </a>
            </li>
        </ul>
    </aside>

    <div class="wrapper">

        <h1>
            <button class="sidebar-toggle" type="button">Menu</button>
            HTML Ipsum Presents
        </h1>

        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis
            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
            amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit
            amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>,
            ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis
            tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <h2>Header Level 2</h2>

        <ol>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis
                aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at
                sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium
                ornare est.</p></blockquote>

        <h3>Header Level 3</h3>

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>

        <pre><code>
#header h1 a {
	display: block;
	width: 300px;
	height: 80px;
}
</code></pre>
    </div>


    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/map.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjyUT_utIGfYkUNsbwwUQAjOZidif-DGk&callback=initMap">
    </script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>