<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GOOD COFFEE</title>
</head>
<body>
<form action="addNewCoffeePrice" method="post">
    <p><b>Название кофейни</b><br>
        <input name="name" type="text" size="40">
    </p>
    <p><b>Номер телефона</b><br>
        <input name="phone" type="text" size="40">
    </p>
    <p><b>Сайт:</b><br>
        <input name="website" type="text" size="40">
    </p>
    <p><b>Стоимость латте</b><br>
        <input name="latte-cost" type="text" size="40">
    </p>
    <p><b>Стоимость капучино</b><br>
        <input name="cappuccino-cost" type="text" size="40">
    </p>
    <p><b>Стоимость американо</b><br>
        <input name="americano-cost" type="text" size="40">
    </p>
    <p><b>Еда с собой?</b><br>
        <input name="food-to-go" type="checkbox" size="40">
    </p><input type="submit" value="Отправить">
    <input type="reset" value="Очистить"></p>
</form>
</body>
</html>