<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GOOD COFFEE</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link href="assets/css/simple-sidebar.css" rel="stylesheet">
    <link href="assets/css/stars.css" rel="stylesheet">

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 100%; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>

</head>

<body>


<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-left" role="navigation">

    <!--<div class="page__group">-->
        <!--<div class="rating">-->
            <!--<input type="radio" name="rating-star" class="rating__control" id="rc1">-->
            <!--<input type="radio" name="rating-star" class="rating__control" id="rc2">-->
            <!--<input type="radio" name="rating-star" class="rating__control" id="rc3">-->
            <!--<input type="radio" name="rating-star" class="rating__control" id="rc4">-->
            <!--<input type="radio" name="rating-star" class="rating__control" id="rc5">-->
            <!--<label for="rc1" class="rating__item">-->
                <!--<svg class="rating__star">-->
                    <!--<use xlink:href="#star"></use>-->
                <!--</svg>-->
                <!--<span class="rating__label">1</span>-->
            <!--</label>-->
            <!--<label for="rc2" class="rating__item">-->
                <!--<svg class="rating__star">-->
                    <!--<use xlink:href="#star"></use>-->
                <!--</svg>-->
                <!--<span class="rating__label">2</span>-->
            <!--</label>-->
            <!--<label for="rc3" class="rating__item">-->
                <!--<svg class="rating__star">-->
                    <!--<use xlink:href="#star"></use>-->
                <!--</svg>-->
                <!--<span class="rating__label">3</span>-->
            <!--</label>-->
            <!--<label for="rc4" class="rating__item">-->
                <!--<svg class="rating__star">-->
                    <!--<use xlink:href="#star"></use>-->
                <!--</svg>-->
                <!--<span class="rating__label">4</span>-->
            <!--</label>-->
            <!--<label for="rc5" class="rating__item">-->
                <!--<svg class="rating__star">-->
                    <!--<use xlink:href="#star"></use>-->
                <!--</svg>-->
                <!--<span class="rating__label">5</span>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->
    <!--<svg xmlns="http://www.w3.org/2000/svg" style="display: none">-->
        <!--<symbol id="star" viewBox="0 0 26 28">-->
            <!--<path d="M26 10.109c0 .281-.203.547-.406.75l-5.672 5.531 1.344 7.812c.016.109.016.203.016.313 0 .406-.187.781-.641.781a1.27 1.27 0 0 1-.625-.187L13 21.422l-7.016 3.687c-.203.109-.406.187-.625.187-.453 0-.656-.375-.656-.781 0-.109.016-.203.031-.313l1.344-7.812L.39 10.859c-.187-.203-.391-.469-.391-.75 0-.469.484-.656.875-.719l7.844-1.141 3.516-7.109c.141-.297.406-.641.766-.641s.625.344.766.641l3.516 7.109 7.844 1.141c.375.063.875.25.875.719z"/>-->
        <!--</symbol>-->
    <!--</svg>-->

    <nav class="nav flex-column">
        <img src="assets/img/logo.png">
        <% if (res === undefined || !res){ %>
            <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseLogin" role="button"
               aria-expanded="false" style="margin-top: 10px">Войти</a>
            <div class="collapse" id="collapseLogin">
                <div class="card card-body">
                    <form action="login" method="post">
                        <div class="form-group">
                            <label for="emailInput">Email address</label>
                            <input name="email" type="email" class="form-control" id="emailInput"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">Password</label>
                            <input name="password" type="password" class="form-control" id="passwordInput"
                                   placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div class="modal-footer" style="margin-top: 5px" hidden>
                        ОШИБКИ БУДУТ ТУТ
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseReg" role="button"
               aria-expanded="false" style="margin-top: 10px">Зарегестрироваться</a>
            <div class="collapse" id="collapseReg">
                <div class="card card-body">
                    <form action="registration" method="post">
                        <div class="form-group">
                            <label for="regEmailInput">Email address</label>
                            <input name="email" type="email" class="form-control" id="regEmailInput"
                                   aria-describedby="regEmailHelp" placeholder="Enter email">
                            <small id="regEmailHelp" class="form-text text-muted">We'll never share your email with
                                anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="regPasswordInput">Password</label>
                            <input name="password" type="password" class="form-control" id="regPasswordInput"
                                   placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div class="modal-footer" style="margin-top: 5px" hidden>
                        ОШИБКИ БУДУТ ТУТ
                    </div>
                </div>
            </div>
        <% } else { %>
                <a class="nav-link disabled" href="#"><%= res %></a>
                <a class="nav-link" href="/logout">выйти</a>
                <div class="modal-footer"></div>
            <% } %>

        <a class="nav-link disabled" href="#">Предпочитаемый кофе</a>
        <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
            <label class="btn btn-light active">
                <!--style="width: 33%-->
                <input id="coffee-cappuccino" type="radio" name="options" id="option1" autocomplete="off" checked>Капучино
            </label>
            <label class="btn btn-light">
                <input id="coffee-latte" type="radio" name="options" id="option2" autocomplete="off">Латте
            </label>
            <label class="btn btn-light">
                <input id="coffee-americano" type="radio" name="options" id="option3" autocomplete="off"> Американо
            </label>
        </div>

        <a class="nav-link disabled" href="#">Максимальная цена:</a>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Руб</span>
            </div>
            <input id="input-price" type="text" class="form-control" aria-label="Amount">
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>


        <a class="nav-link disabled" href="#">Минимальный рейтнг</a>

        <div class="input-group mb-3">
            <input id="input-rating" type="number" min="0" max="5" step="0.5" class="form-control"
                   aria-label="Amount (to the nearest dollar)">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input id="input-food-to-go" type="checkbox" aria-label="Checkbox for following text input"
                           onclick="check()">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" value="Еда с собой" disabled>
        </div>

        <a class="btn btn-outline-dark" id="filter-button" onclick="filter()">Покажи!</a>
    </nav>
    <nav class="nav flex-column">
        <a class="nav-link" href="addNewPlaceForm">добавить новую кофейню</a>
        <a class="nav-link" href="addNewCoffeePriceForm">поменялись цены?</a>
    </nav>

</aside>

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Good Coffee</a>
    <button class="navbar-toggler sidebar-toggle" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="align: left">
            <li class="nav-item active">
                <button class="btn btn-outline-primary sidebar-toggle"><span class="fas fa-align-justify"
                                                                             aria-hidden="true"></span></button>

                <!--<button class="sidebar-toggle" type="button">Menu</button>-->
            </li>

        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

<!-- Map Container-->
<div id="map-container" class="container-fluid">
    <div id="map"></div>

</div>


<!-- jQuery -->
<script src="assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/map.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjyUT_utIGfYkUNsbwwUQAjOZidif-DGk&callback=initMap">
</script>


<script src="assets/js/sidebar.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>